{% extends 'admin/back_base.html' %}

{% block content %}

<main class="m-10 p-10 border-2 rounded-lg">

  <!-- Titre -->
  <h1 class="flex justify-center text-3xl font-bold mb-10">
    Tous les Dresseurs
  </h1>

  <!-- Grille des dresseurs -->
  <section class="flex flex-wrap justify-center gap-8">
    <table class=" ">
        <thead>
            <th>Pseudo</th>
            <th>Role</th>
            <th>nombre de posts</th>
        </thead>
        <tbody>
            {% for dresseur in dresseurs %}
            <tr>
                <td>{{dresseur['pseudo']}}</td>
                <td>
                <form action="{{url_for('update_role', user_id=dresseur['_id'])}}" method="POST">
                    <select name="role" onchange="this.form.submit()">
                        <option value = "user" {% if dresseur['role'] == 'user' %} selected {% endif %}>user</option>
                        <option value = "admin" {% if dresseur['role'] == 'admin' %} selected {% endif %}>admin</option>
                    </select>        
                </form>
                </td>
                <td><a href="{{url_for('show_user', user_id=dresseur['_id'])}}">Voir</a></td>
                <td>
                    <a href="{{url_for('delete_user', user_id=dresseur['_id'])}}" onclick="return confirm('Supprimer ce dresseur ?')">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

  </section>

    <!-- Grille des posts-->
  <section class="flex flex-wrap justify-center gap-8">
    <table class=" ">
        <thead>
            <th>Nom</th>
            <th>type</th>
        </thead>
        <tbody>
            {% for pokemon in pokemons %}
            <tr>
                <td>{{pokemon['nom']}}</td>
                <td>{{pokemon['type']}}</td>
                <td><a href="/">Voir</a></td>
                <td><a href="/">Modifier</a></td>
                <td><a href="/">Supprimer</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

  </section>

</main>

{% endblock %}
