<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attrapez les tous</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script defer src="{{ url_for('static' , filename='script.js')}}"></script>
    
</head>
<body>
    <header class="bg-yellow-400 font-bold">
        <section class="flex justify-between items-center">
        <div class="flex pt-2 items-center">
            <a href = "/"><img src="../../static/images/pokeball.png" width = "100px"/></a>
            <h1 class="font-mono text-2xl">Pik'App</h1>
        </div>
        <nav>
            <ul class="flex space-x-4 p-4">
            {%if session['util'] %}
               <li><a href="/logout">Logout</a></li>
            {% else %} 
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signin</a></li>
            {% endif %}    
            </ul>
            
        </nav>
        </section>
        <section class="bg-white/50 flex justify-between border-4 border-yellow-400 rounded-full items-center"> 
            <nav>
                <ul class ="flex justify-center space-x-10 p-4">
                    <li><a href="/pokemons">Pokemons</a></li>
                    <li><a href="/dresseurs">Dresseurs</a></li>
                    <li><a href="/attraper">Attraper</a></li>
                    <li><a href="/pokemon/add">Ajouter un Pokémon</a></li>
                </ul>
            </nav>
            <form action="" method = "post" class=" p-4">
                <input type="text" name="" placeholder="que cherches-tu ? " class="rounded-full p-2"/>
                <input type="submit">
            </form>
        </section>
    </header>
    {% if erreur %}
    <h3>{{erreur}}</h3>
    {% endif %}


    {% block content %}
    {% endblock %}

    <footer class="flex justify-between bg-yellow-400 my-4 font-bold">
        <section class="p-4">
            <p>Copyright XavierMM 2026</p>
        </section>
        <section class="p-4">
            <p>Contact</p>
            <ul>
                <li>admin</li>
                <li>email</li>
                <li>discord</li>
            </ul>
        </section>
    </footer>
</body>
</html>