{% extends "front/base.html" %}

{% block content %}

<main class="p-10">

  <!-- Pokemon -->
  <div class="border p-5 rounded-lg">
    <h1 class="text-3xl">{{ pokemon.nom }}</h1>

    {% if pokemon.image %}
      <img src="{{ pokemon.image }}" class="w-64 my-4">
    {% endif %}

    <p><strong>Type :</strong> {{ pokemon.type }}</p>
    <p class="my-4">{{ pokemon.description }}</p>

    <!-- Likes -->
    <div class="my-4">
      <p>❤️ {{ pokemon.likes }} likes</p>

      <a href="{{ url_for('like_pokemon', pokemon_id=pokemon._id) }}"
         class="bg-red-500 text-white px-3 py-1 rounded">
         Liker
      </a>
    </div>
  </div>
</main>



{% endblock %}