{% extends 'front/base.html' %}

{% block content %}
<main class = "m-10 p-10 border-2 round-lg">
 <section>
  <h1 class = "flex justify-center text-3xl font-bold">Dernier pokemon attrapés</h1>
  <div class="grid grid-cols-4">
 {% for pokemon in pokemons[:8] %}   
 <div class="w-64 aspect-[2.5/3.5] bg-yellow-100 rounded-2xl border-4 border-yellow-400 shadow-xl p-3 flex flex-col">
  <h2 class="text-lg font-bold text-gray-800 mb-2">{{pokemon.nom}}
  </h2>
  <div class="bg-white rounded-lg border-2 border-gray-300 flex items-center justify-center mb-2">
    <img 
      src="{{pokemon.image}}"
      alt="{{pokemon.nom}}"
      class="h-32 object-contain"
    />
  </div>
  <div class="flex justify-center mb-2">
    <span class="px-3 py-1 text-sm font-semibold rounded-full bg-yellow-400 text-gray-900">
      {{pokemon.type}}
    </span>
  </div>
  <p class="text-xs text-gray-700 bg-yellow-50 border border-yellow-300 rounded-lg p-2 flex-1">
    {{pokemon.description}}
  </p>
</div>
{% endfor %}
</div>
</section>

<section>
  <h1 class="flex justify-center text-2xl mb-6 font-bold">
    Meilleurs dresseurs
  </h1>

  <div class="flex flex-wrap gap-6 justify-center">

    {% for dresseur in dresseurs %}

    <div class="w-56 bg-yellow-100 rounded-2xl border-4 border-yellow-400 shadow-xl p-4 flex flex-col items-center">
      <!-- Avatar -->
      <div class="bg-white rounded-full border-2 border-gray-300 w-28 h-28 flex items-center justify-center mb-3 overflow-hidden">
        <img 
          src="{{ dresseur.avatar }}"
          alt="{{ dresseur.pseudo }}"
          class="w-full h-full object-cover"
        />
      </div>
      <!-- Pseudo -->
      <h2 class="text-lg font-bold text-gray-800 mb-2">
        {{ dresseur.pseudo }}
      </h2>
      <!-- Nombre de pokémons -->
      <span class="px-3 py-1 text-sm font-semibold rounded-full bg-yellow-400 text-gray-900">
        {{ dresseur.nb_pokemons }} Pokémon(s)
      </span>
    </div>
    {% endfor %}
  </div>
</section>
</main>

{% endblock %}


